body::-webkit-scrollbar {
    width: 0.5em;
  }
  
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px rgb(251, 189, 166);
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #f65b25;
    outline: 1px solid #f65b25;
  }