.u-dialog-section-11 {
  height: 826px;
}

.u-dialog-section-11 .u-dialog-1 {
  width: 984px;
  height: 575px;
  margin: 60px auto;
  overflow-x: scroll;
}

.u-dialog-section-11 .u-container-layout-1 {
  padding: 15px 0;
}

.u-dialog-section-11 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 500;
  margin: 9px auto 0 30px;
}

.u-dialog-section-11 .u-image-1 {
  height: 148px;
  width: 146px;
  margin: 30px auto 0 30px;
}

.u-dialog-section-11 .u-text-2 {
  margin: -148px 58px 0 188px;
}

.u-dialog-section-11 .u-icon-1 {
  width: 31px;
  height: 31px;
  background-image: none;
  left: auto;
  top: 20px;
  position: absolute;
  right: 20px;
}

@media (max-width: 1199px) {
  .u-dialog-section-11 .u-dialog-1 {
    width: 940px;
    height: -webkit-fill-available;
  }

  .u-dialog-section-11 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-dialog-section-11 .u-text-1 {
    margin-top: 19px;
    margin-left: 12px;
  }

  .u-dialog-section-11 .u-image-1 {
    margin-top: 43px;
    margin-left: 20px;
  }

  .u-dialog-section-11 .u-text-2 {
    width: auto;
    margin-right: 43px;
    margin-left: 187px;
  }
}

@media (max-width: 991px) {
  .u-dialog-section-11 .u-dialog-1 {
    width: 720px;
    min-height: 550px;
  }

  .u-dialog-section-11 .u-text-1 {
    width: auto;
    margin-top: 27px;
    margin-left: 20px;
  }

  .u-dialog-section-11 .u-image-1 {
    height: 148px;
    margin-top: 10px;
    margin-left: 21px;
  }

  .u-dialog-section-11 .u-text-2 {
    margin: 36px;
    /* margin-top: 36px; */
    /* margin-left: 20px;
    margin-right: 20px; */
  }
}

@media (max-width: 767px) {
  .u-dialog-section-11 .u-dialog-1 {
    width: 540px;
    min-height: 769px;
  }

  .u-dialog-section-11 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-dialog-section-11 .u-text-1 {
    margin-top: 15px;
    margin-left: 0;
  }

  .u-dialog-section-11 .u-image-1 {
    margin-top: -104px;
    margin-left: 21px;
  }

  .u-dialog-section-11 .u-text-2 {
    margin-top: 42px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-dialog-section-11 .u-dialog-1 {
    width: 328px;
    min-height: -webkit-fill-available;
  }

  .u-dialog-section-11 .u-container-layout-1 {
    padding: 18px 25px;
    overflow: scroll;
  }

  .u-dialog-section-11 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 0;
  }

  .u-dialog-section-11 .u-image-1 {
    margin-top: -52px;
  }

  .u-dialog-section-11 .u-text-2 {
    margin-top: 20px;
  }
}
