.u-dialog-section-8 {
  min-height: 826px;
}

.u-dialog-section-8 .u-dialog-1 {
  width: 985px;
  min-height: 492px;
  margin: 99px auto 60px;
}

.u-dialog-section-8 .u-container-layout-1 {
  padding: 32px;
}

.u-dialog-section-8 .u-image-1 {
  height: 193px;
  width: 215px;
  margin: 0 740px 0 30px;
}

.u-dialog-section-8 .u-text-1 {
  font-weight: normal;
  margin: -181px 438px 0 275px;
}

.u-dialog-section-8 .u-text-2 {
  font-weight: normal;
  font-size: 1rem;
  margin: 20px 46px 0 275px;
}

.u-dialog-section-8 .u-text-3 {
  margin: 20px 55px 0 275px;
}

.u-dialog-section-8 .u-icon-1 {
  width: 31px;
  height: 31px;
  background-image: none;
  left: auto;
  top: 20px;
  position: absolute;
  right: 20px;
}

@media (max-width: 1199px) {
  .u-dialog-section-8 .u-dialog-1 {
    width: 940px;
    height: auto;
  }

  .u-dialog-section-8 .u-image-1 {
    margin-right: 718px;
    margin-left: 8px;
  }

  .u-dialog-section-8 .u-text-1 {
    margin-top: -181px;
    margin-left: 265px;
    margin-right: 416px;
  }

  .u-dialog-section-8 .u-text-2 {
    margin-right: 24px;
    margin-left: 265px;
  }

  .u-dialog-section-8 .u-text-3 {
    margin-left: 253px;
    margin-right: 33px;
  }
}

@media (max-width: 991px) {
  .u-dialog-section-8 .u-dialog-1 {
    width: 720px;
  }

  .u-dialog-section-8 .u-container-layout-1 {
    padding-top: 70px;
  }

  .u-dialog-section-8 .u-image-1 {
    margin-right: 505px;
    margin-left: 0;
  }

  .u-dialog-section-8 .u-text-1 {
    margin-left: 203px;
    margin-right: 306px;
  }

  .u-dialog-section-8 .u-text-2 {
    margin-right: 0;
    margin-left: 203px;
  }

  .u-dialog-section-8 .u-text-3 {
    margin-left: 143px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-dialog-section-8 .u-dialog-1 {
    width: 540px;
  }

  .u-dialog-section-8 .u-container-layout-1 {
    padding-top: 65px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-dialog-section-8 .u-image-1 {
    margin-right: 325px;
  }

  .u-dialog-section-8 .u-text-1 {
    margin-left: 152px;
    margin-right: 216px;
  }

  .u-dialog-section-8 .u-text-2 {
    margin-left: 152px;
  }

  .u-dialog-section-8 .u-text-3 {
    margin-left: 53px;
  }
}

@media (max-width: 575px) {
  .u-dialog-section-8 .u-dialog-1 {
    width: 340px;
  }

  .u-dialog-section-8 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-dialog-section-8 .u-image-1 {
    margin-right: 125px;
  }

  .u-dialog-section-8 .u-text-1 {
    margin-left: 96px;
    margin-right: 69px;
  }

  .u-dialog-section-8 .u-text-2 {
    margin-left: 96px;
  }

  .u-dialog-section-8 .u-text-3 {
    margin-left: 0;
  }
}
